torch >= 2.1.2
torchvision >= 0.9.0 #AdaFace req.
numpy >= 1.19
cudatoolkit == 10.2 #AdaFace req.

# data
opencv-python
retina-face

# FG_NET
deeplake
flask

# MagFace
scikit-learn
loguru

# AdaFace
mxnet

# WANDB
wandb
codecarbon

# OFIQ
cmake
conan==2.0.17
